.price-container {
    background-color: #e0c367; 
    padding: 9px;
    width: 91%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    position: absolute; 
    bottom: 0; 
}

#old {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

#new {
    color: green;
    font-weight: bold;
}